@font-face {
    font-family: "Shabnam";
    src: url("../fonts/Shabnam.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Shabnam-Light";
    src: url("../fonts/Shabnam-Light.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Shabnam-Bold";
    src: url("../fonts/Shabnam-Bold.ttf") format('truetype');
}