@import "mixins";

header {

  nav {
    .download {
      @include button-style (120px,
        40px,
        18px,
        linear-gradient(to left, #e35325, #ff8a65),
        0px 7px 20px 0 rgba(227, 84, 39, 0.3),
        white,
        25px);
      margin-right: 20px;
    }
  }

  .responsive-nav {
    box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;

    i {
      color: $secondaryColor;
      font-size: 28px !important;
    }

    span {
      color: $primaryColor;
      font-size: 24px;
      margin-right: 16px;
    }
  }

  img {
    width: 100%;
  }

  .brand {
    position: relative;

    .chips {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      top: 5%;
      right: 30%;
      margin: 0px;

      h4 {
        color: $primaryColor;
        margin-right: 8px;
      }

      img {
        width: 72px;
        height: 72px;
        border-radius: 50%;
      }
    }
  }

}